<html>
<head>
<link rel="stylesheet" type="text/css" href="site.css">
<div id="rcorners5"></head><body>
<h2>uber calculator </h2>
<form action="/location" method="POST">
    Current location: <input type="text" name="location1">
    Destination: <input type="text" name="location2">
    <input type="submit">
</form>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="<%= @googlelink %>" allowfullscreen>
</iframe>
<BR>
  Fare:<%= @fare %><BR>
    Duration:
<%= @duration %> min<BR>
  Surge Factor:
<%= @surge %><BR>
</div></body></html>
